[Unit]
Description=Notify when battery charge crosses a threshold

[Service]
RuntimeDirectory=battery-notify
RuntimeDirectoryPreserve=yes
WorkingDirectory=%t/battery-notify
Type=oneshot
ExecStart=/home/sano/.local/bin/battery-notify

[Install]
WantedBy=battery-notify.timer
