## urxvt config
URxvt.termName: 	   rxvt-unicode
URxvt.title: 		   urxvt
URxvt.scrollBar_right: false
URxvt.scrollBar:	   false
URxvt.geometry:		   120x40+240+120


URxvt.font: 		   xft:PragmataPro\ for\ Powerline:size=11:antialias=true
URxvt.font.boldFont:   xft:PragmataPro\ for\ Powerline:style=Bold:size=11:antialias=true
URxvt.font.italicFont: xft:PragmataPro\ for\ Powerline:style=Italic:size=11:antialias=true
URxvt.boldItalicFont:  xft:PragmataPro\ for\ Powerline:style=Bold Italic:size=10:antialias=true

URxvt.perl-ext-common: 	   default,resize-font,url-select,matcher
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up
URxvt.urlLauncher:         /usr/bin/chromium

URxvt*cursorBlink: 		true
URxvt*depth: 			32
URxvt*dynamicColors: 	on
URxvt*cursorUnderline : true

!{ Xft settings
Xft*dpi:	   96              
Xft*antialias: true
Xft*hinting:   true
Xft*rgba: 	   rgb
Xft*hintstyle: hintslight
!}

!------------------------------------------------------------------!
!                       urxvt color scheme                         !
!------------------------------------------------------------------!


! special
URxvt.foreground:  #9BBBC6
URxvt.background:  #1C1C23
URxvt.cursorColor: #ffffff
URxvt.colorUL:	   #1E828C

!Black
URxvt.color0:               #323246
URxvt.color8:               #323246

!Red
URxvt.color1:               #5A7882
URxvt.color9:               #5A7882

!Green
URxvt.color2:               #8C8CA0
URxvt.color10:              #8C8CA0

!Yellow
URxvt.color3:               #1E828C
URxvt.color11:              #1E828C

!Blue
URxvt.color4:               #3C788C
URxvt.color12:              #3C788C

!Magenta
URxvt.color5:               #6EA0B4
URxvt.color13:              #6EA0B4

!Cyan
URxvt.color6:               #6E8CA0
URxvt.color14:              #6E8CA0

!White
URxvt.color7:               #96BEC8
URxvt.color15:              #96BEC8
