## urxvt config
URxvt.termName:        rxvt-unicode
URxvt.title:           urxvt
URxvt.scrollBar_right: false
URxvt.scrollBar:       false
URxvt.geometry:        120x40+240+120

URxvt.font:            xft:Fira\ Code:size=9:antialias=true
URxvt.font.boldFont:   xft:Fira\ Code:style=Bold:size=9:antialias=true
URxvt.font.italicFont: xft:Fira\ Code:style=Italic:size=9:antialias=true
URxvt.boldItalicFont:  xft:Fira\ Code:style=Bold Italic:size=9:antialias=true

URxvt.perl-ext-common:     default,resize-font,url-select,matcher
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up
URxvt.urlLauncher:         /usr/bin/firefox
URxvt.letterSpace:         -1

URxvt*cursorBlink:      true
URxvt*depth:            32
URxvt*dynamicColors:    on
URxvt*cursorUnderline : true

!{ Xft settings
Xft.dpi:       96              
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
!}

!------------------------------------------------------------------!
!                       urxvt color scheme                         !
!------------------------------------------------------------------!
!
!! special
*.foreground:   #919191
*.background:   #121218
*.cursorColor:  #919191

! black
*.color0:       #303030
*.color8:       #5e5e5e

! red
*.color1:       #a43261
*.color9:       #ff9fc9

! green
*.color2:       #006ca5
*.color10:      #3bd6ff

! yellow
*.color3:       #007086
*.color11:      #00ddf4

! blue
*.color4:       #6751a6
*.color12:      #d5b8ff

! magenta
*.color5:       #913e88
*.color13:      #ffa7f6

! cyan
*.color6:       #0061b1
*.color14:      #93c9ff

! white
*.color7:       #c6c6c6
*.color15:      #ffffff
