body.srp,
body,
.appbar,
.sfbg,
.yg51vc {
  background-color: #1f1d2e;
}
.hqwb1b {
  background: rgb(38, 35, 58);
}
.RNNXgb {
  background: #29283b;
  border: 1px solid #1b1a2b;
  box-shadow: 0 1px 4px rgba(23, 23, 33, 0.24);
}
.minidiv .sfbg {
  background: #29283b;
}
.minidiv .RNNXgb {
  background: #252436;
  border: 1px solid #535270;
  box-shadow: 0 1px 3px rgba(26, 30, 44, .62);
}
.minidiv .RNNXgb:hover {
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(16, 16, 29, .9);
}
.W0urI.SodP3b,
.G1frSb,
.REySof {
  background: #403d52 !important;
}
.XY8hlc.ZYbY5b.PZPZlf {
  background: #403d52 !important;
}
.f6F9Be {
  background: #1b1928;
}
.qe1Dgc {
  background: #1F1D2E;
}
.uais2d {
  background: rgb(64, 61, 82);
}
.v7ex9d {
  background: linear-gradient(to top, currentColor 50%, rgba(38, 35, 58, 0.0));
}
.k8XOCe {
  background-color: #403d52;
}
.e8Ck0d > div {
  color: #1c1a2a !important;
}
.cEPPT {
  border-bottom: solid 1px rgb(38, 35, 58);
}
.c93Gbe {
  background: #191724;
}
.lJ9FBc input[type="submit"],
.gbqfba {
  background-color: #191724;
  border: 1px solid #15141f;
}
.lJ9FBc input[type="submit"]:hover {
  background-color: #403d52;
  border: 1px solid #535070;
}
.aajZCb {
  background: #252436;
  box-shadow: 0 3px 2px 0 #12111f;
}
.minidiv .aajZCb {
  box-shadow: 0 4px 5px 0 #12101dde;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.yL6bDc .efwPxe {
  background-color: #403d52;
}
.sbhl {
  background: #3d3c57;
}
.sx8gIb {
  background-color: #1F1D2E;
}
.JJZKK.Wui1sd {
  border-right: 1px solid #26233a;
}
div > g-right-button > g-fab {
  background-color: #403d52 !important;
}
.x7Klsd {
  background: #26233a;
}
.wdQNof {
  border: 1px solid #26233a;
}
.emcav .RNNXgb {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 6px 0 #1b1a2b;
  background: #252436;
  border-color: rgba(223, 225, 229, 0);
}
.h3L8Ub .yMAEcf {
  background: #222132;
  border: 1px solid #373651;
}
div.HsZQAe {
  border-bottom: 1px solid #222132 !important;
}
.HSryR a.B1uW2d {
  border-bottom: 1px solid #222132;
}
.Ffrp4e {
  background: linear-gradient(to right, #1F1D2E, rgba(38, 35, 58, 0.0));
}
.frDyzc {
  background: linear-gradient(to left, #1F1D2E, rgba(38, 35, 58, 0.0));
}
.H73aad {
  background: #403d52;
  border: 1px solid #4d4a64;
}
.H73aad:hover {
  background: #4d4964;
}
.FalWJb {
  background: #1f1d2e;
}
.YeThId {
  border-top: 1px solid #1e1d2d;
}
.KcXNxb {
  background: #1f1d2e;
}
.MXl0lf:hover {
  background: #312d44;
}
#rhs .MXl0lf {
  border-color: #2d2a3a;
}
.I6TXqe {
  background: #1F1D2E;
}
.TQc1id .I6TXqe {
  border: 1px solid #222132;
}
.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #1c1b2a;
  box-shadow: 0 1px 6px 0 #1b1a2b;
  border-color: rgba(223, 225, 229, 0);
}
.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #252436;
  box-shadow: 0 1px 6px 0 #1b1a2b;
  border-color: rgba(223, 225, 229, 0);
}
.b2hzT {
  border-bottom: 1px solid #26233a;
}
#swml {
  border-left: 1px solid #26233a;
}
html body div.L3eUgb div.o3j99.n1xJcf.Ne6nSd div.LX3sZb div {
  background-color: #1f1d2e !important;
}
.AvBz0e,
.kLhEKe {
  background-color: #1F1D2E;
}
.IVvPP .cLjAic.WY0eLb,
.Hwkikb.WY0eLb {
  border-left: 1px solid #26233a;
}
.rKnmn {
  border-top: 1px solid #26233a;
}
.MsCHpb {
  border-color: #26233a;
}
g-inner-card,
.MXl0lf,
.cv2VAd {
  background: #1F1D2E;
  border: 1px solid #2d2a3f;
}
g-card {
  border: 1px solid rgb(64, 61, 82);
}
.s8GCU,
.Lj9fsd,
.jZWadf,
.Lj9fsd.DU1Mzb {
  background: #1c1b2c;
}
.AghGtd {
  display: none;
}
.KxwPGc {
  justify-content: flex-end;
}
.o6juZc,
.W6pGoe {
  border: 1px solid transparent;
  background: #15141e;
}
.Lj9fsd.DU1Mzb .o6juZc {
  border-color: #2d2b45;
}
.ZkkK1e {
  background: #29283b;
  border: 1px solid #494761;
}
.GLcBOb {
  border-bottom: 1px solid #29283b;
}
#rhs .u7yw9 {
  border-left: 1px solid #29283b;
}
.AUiS2 {
  border: 1px solid #29283b;
}
div[id^='eob_'] {
  display: none;
}
.dG2XIf {
  box-shadow: none;
  background: #1F1D2E;
}
.MR2UAc {
  background-color: #29283b;
  border: 1px solid #3c3853;
}
.cO53qb {
  background-color: #22212f;
  border: 1px solid #333248;
}
.dw-sb-cont .dw-sbi {
  background: #29283b;
  border: 1px solid #333248;
}
.dw-sb-cont .dw-sb-btn {
  background: #222133;
  border: 1px solid #333248;
}
.pdpvld {
  color: #ABE9B3;
}
.mQo3nc {
  background-color: #333248;
}
.TVSh {
  background: url(https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_grey600_18dp.png) 100% no-repeat #29283b;
  border: 1px solid #3c3853;
}
.nQ8Joc {
  filter: invert(83%) sepia(75%) saturate(197%) hue-rotate(187deg) brightness(74%) contrast(110%);
}
.jTw2d {
  background-color: #403d52;
}
.cG5GOd {
  background-image: linear-gradient(to right, rgba(32, 33, 36, 0) 0%, rgba(32, 33, 36, 0) 0%) !important;
}
.ZZ7G7b {
  border: 1px solid #2e2c43;
}
.cEW58 {
  background-color: #29283b;
}
.h312td {
  background: #29283b;
}
g-fab.CNf3nf.OvQkSb.LhCR5d {
  background-color: #524f67 !important;
  color: #e0def4 !important;
}
.pb5vrc {
  background-color: #2d2b45;
}
.aNytqb .rKnmn,
.aUSklf,
.RzdJxc {
  border-top: 1px solid #2d2b45;
}
hr {
  border-bottom: 1px solid #2d2b45;
}
.GOE2if,
.ez8jFf {
  border-left: 1px solid #2d2b45;
}
.akqY6 {
  background: #2d2b45;
}
.imso-fpm {
  background-color: #22212f;
}
.tb_c {
  background-color: #1f1d2e;
  box-shadow: 0 1px 3px 0 #141320;
}
.bh13Qc g-inner-card {
  border: 1px solid #222132;
}
.nGHNmf {
  background-color: #222133;
}
.ey2qkf {
  background: #1f1d2e;
}
.imso-hov:hover,
.imso-hov:focus {
  background-color: #100f19;
}
.YbqTTb,
g-flat-button.BwMo1 {
  background-color: #141320;
  border: 1px solid #272639;
}
.rsGxI.Ww4FFb,
.Ww4FFb {
  background-color: #1f1d2e;
}
.iRPzcb {
  border-bottom: 1px solid #2a2936;
}
.S8ee5 {
  background: #403d52;
}
.wwfboe {
  padding: 0 16px;
  border-top: 1px solid #403d52;
}
.kHtcsd {
  background-color: #403d52;
}
.JgfpDb.cZEg1e,
.JgfpDb .cZEg1e {
  background-color: #2a273f;
}
.Pvpvv {
  background-color: #232136;
  border-top: 1px solid #2a273f;
}
.JgfpDb .legCh {
  background-color: #393552;
}
.JgfpDb .unDjgb {
  background-color: #393552;
}
.vC9buf {
  background-color: #191724;
  border-top: 1px solid #393552;
}
.yL6bDc .A7KlJf {
  background-color: #403d52;
}
.DJbVFb {
  background: #1F1D2E;
}
.nHPTn {
  background: #191724;
}
.ZFiwCf {
  background-color: #44415a;
  border: none;
}
.yL6bDc.k4o2Hc,
.yL6bDc .k4o2Hc {
  background-color: #191724;
}
.DJbVFb .vYOkbe {
  margin: 20px 0 20px 18px;
  background-color: #000;
  border-radius: 22px;
}
a,
.ynAwRc,
.SW5pqf {
  color: #9cc2d8;
}
a:visited {
  color: #c4a7e7;
}
