:root {
  --bg: #1E1E1E;
  --currentline: #3F3F40;
  --fg: #d9e0ee;
  --comment: #646367;
  --flamingo: #f2cdcd;
  --mauve: #ddb6f2;
  --pink: #f5c2e7;
  --maroon: #e8a2af;
  --red: #f28fad;
  --peach: #f8bd96;
  --yellow: #fae3b0;
  --green: #abe9b3;
  --teal: #b5e8e0;
  --blue: #96cdfb;
  --sky: #89dceb;
  --lavender: #c9cbff;
  --rosewater: #f5e0dc;
  --font: monospace;

  --tridactyl-fg: var(--fg);
  --tridactyl-bg: var(--bg);
  --tridactyl-url-fg: var(--lavender);
  --tridactyl-url-bg: var(--bg);
  --tridactyl-highlight-box-bg: var(--currentline);
  --tridactyl-highlight-box-fg: var(--fg);
  --tridactyl-of-fg: var(--fg);
  --tridactyl-of-bg: var(--currentline);
  --tridactyl-cmdl-fg: var(--fg);
  --tridactyl-cmdl-bg: #070707;
  --tridactyl-cmdl-font-family: var(--font);
  --tridactyl-cmplt-font-family: var(--font);
  --tridactyl-hintspan-font-family: var(--font);

  --tridactyl-hintspan-fg: var(--bg) !important;
  --tridactyl-hintspan-bg: var(--green) !important;

  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}
#completions .sectionHeader {
	background: #070707;
}
