/* symlink does not work on this file if the profile is moved to RAM */
/* has to be copied to the chome directory */

menuitem#context-selectall + menuseparator {
  display: none !important;
}

.search-wrapper.fake-focus:not(.search.disabled) .search-handoff-button {
  border: 1px solid #7E8EBC !important;
  box-shadow: 0 0 0 1px #3A4BB2 !important;
}

.search-wrapper .search-handoff-button {
  background: #303030 var(--newtab-search-icon) 16px center no-repeat !important;
}

.search-wrapper .search-handoff-button, .search-wrapper input {
  background-color: #2E2E2E !important;
  font-family: "Roboto Flex" !important;
}

.contentSearchHeader, .contentSearchSuggestionEntry {
  font-size: 90% !important;
  font-family: "Roboto Flex" !important;
}

.contentSearchSuggestionsContainer {
  background: rgb(225, 124, 14) !important;
}

