@define-color workspaces #0D0D13;
@define-color mpd #2d42d8;

@define-color cpu #9892F1;
@define-color memory #84B4ED;
@define-color temperature #6DCCE8;
@define-color brightness #A5E6BF;
@define-color weather #DFE4AB;

@define-color volume #2b3042;
@define-color network #222634;
@define-color tray #161a27;
@define-color clock #03050d;

* {
	border: none;
	border-radius: 0;
	min-height: 0px;
	margin: 0px;
	padding: 0px;
}

#waybar {
	font-family: 'FontAwesome, Fira Sans';
	font-size: 12px;
	box-shadow: inset 0 -1px rgba(19, 19, 19, 0.5);
}

window#waybar {
	background-color: rgba(22, 24, 43, 0.9);
	color: #e7e7e7;
	transition-property: background-color, border-bottom;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty {
	background-color: rgba(30, 29, 58, 0.8);
	box-shadow: inset 0 -3px  rgba(30, 29, 158, 0.8);
}

window#waybar.solo {
	background-color: rgba(140, 39, 56, 1);
	box-shadow: inset 0 -1px rgba(253, 55, 65, 1);
}

#workspaces button {
	padding: 0px 7px 0px 7px;
	margin: -8px 0px -8px 0px;
	background-color: @workspaces;
	color: #343a50;
	font-size: 12px;
	/* Use box-shadow instead of border so the text isn't offset */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	box-shadow: inset 0 -2px #e7e7e7;
}

#workspaces button.focused {
	color: #e7e7e7;
}

#workspaces button.urgent {
	color: #F1C3A4;
}

#clock,
#battery,
#cpu,
#memory,
#custom-mem_icom,
#custom-cpu_icom,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-weather,
#tray,
#mode,
#mpd {
	color: #e7e7e7;
	font-weight: 600;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/***** Separators  *****/
#custom-sep1 {
	color: @workspaces;
	background-color: transparent;
	margin-bottom: -10px;
	margin-top: -10px;
	font-size: 20px;
}

#custom-sep2 {
	color: @volume;
	background-color: transparent;
	margin-bottom: -10px;
	margin-top: -10px;
	margin-right: -1px;
	font-size: 20px;
}

#custom-sep3 {
	color: @network;
	background-color: @volume;
	margin-bottom: -10px;
	margin-top: -10px;
	margin-right: -1px;
	font-size: 20px;
}

#custom-sep4 {
	color: @tray;
	background-color: @network;
	margin-bottom: -10px;
	margin-top: -10px;
	margin-right: -1px;
	font-size: 20px;
}

#custom-sep5 {
	color: @clock;
	background-color: @tray;
	margin-bottom: -10px;
	margin-top: -10px;
	margin-right: -1px;
	font-size: 20px;
}

/**************/

#clock {
	padding: 1px 12px 0px 10px;
	background-color: @clock;

}

#battery {
	background-color: @tray;
	padding: 0px 0px 0px 7px;
	margin: -18px 0px -20px 0px;
	color: #ffffff;
}

#battery.charging,
#battery.plugged {
	color: #ABFA9E;
	background-color: @tray;
	padding: 0px 0px 0px 7px;
	margin: -18px 0px -20px 0px;
}

@keyframes blink {
	to {
		background-color: @tray;
		color: #ff2022;
	}
}

#battery.critical:not(.charging) {
	background-color: @tray;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: transparent;
	color: @cpu;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#memory {
	background-color: transparent;
	color: @memory;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#custom-cpu_icon {
	background-color: transparent;
	color: @cpu;
	font-size: 13px;
	padding: 0px 0px 0px 2px;
	margin: -5px 15px -6px 3px;
}

#custom-mem_icon {
	background-color: transparent;
	color: @memory;
	font-size: 13px;
	padding: 1px 0px 0px 2px;
	margin: -8px 15px -7px 3px;
}

#custom-temp_icon {
	background-color: transparent;
	color: @temperature;
	font-size: 14px;
	padding: 0px 0px 0px 2px;
	margin: -1px 15px -1px 3px;
}

#custom-bright_icon {
	background-color: transparent;
	color: @brightness;
	font-size: 13.5px;
	padding: 0px 0px 0px 2px;
	margin: -5px 15px -3px 2px;
}

#custom-weather_icon {
	background-color: transparent;
	color: @weather;
	font-size: 24px;
	padding: 0px 0px 0px 2px;
	margin: -10px 0px -10px 2px;
}

#temperature {
	background-color: transparent;
	color: @temperature;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#temperature.critical {
	background-color: transparent;
	color: @temperature;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#backlight {
	background-color: transparent;
	color: @brightness;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#custom-weather {
	background-color: transparent;
	color: @weather;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

#tray {
	background-color: @tray;
	padding: 0px 5px 0px 0px;
}

#idle_inhibitor {
	background-color: @tray;
	font-size: 13px;
	padding: 0px 7px 0px 7px;
	margin: -2px 0px -2px 0px;
}

#idle_inhibitor.activated {
	background-color: @tray;
	font-size: 13px;
	padding: 0px 7px 0px 7px;
	margin: -2px 0px -2px 0px;
}
#network {
	background-color: @network;
	padding: 0px 7px 0px 7px;
	margin: -3px 0px -3px 0px;
}

#network.disconnected {
	background-color: @network;
	padding: 1px 7px 0px 7px;
	margin: -1px 0px 0px 0px;
}

#pulseaudio {

	background-color: @volume;
	padding: 0px 7px 0px 7px;
	margin: -1px 0px -2px 0px;
}

#pulseaudio.muted {
	background-color: @volume;
	color: #A079FF;
	padding: 0px 7px 0px 7px;
	margin: -10px 0px -11px 0px;
}

#mpd, #custom-media {
	font-weight: 600;
	font-size: 12.1px;
	padding: 0px 7px 0px 8px;
	margin: -9px 0px -10px 0px;
}

#mpd.stopped {
	color: #9999b9;
	font-size: 14px;
	padding: 0px 8px 0px 5px;
	margin: 0px 0px -3px 0px;
}

#mpd.paused {
	font-size: 12px;
	margin: 0px 0px -1px 0px;
}
