@define-color barcolor #191724;

@define-color launcher #191724;
@define-color workspaces #242236;
@define-color mpd #232335;
@define-color main_fg #D9E0EE;
@define-color accent_fg #FFFFFF;

@define-color color1 #eb6f92;
@define-color color2 #f6c177;
@define-color color3 #ebbcba;
@define-color color4 #9ccfd8;
@define-color color5 #c4a7e7;

@define-color volume #393656;
@define-color network #2F2C47;
@define-color tray #262336;
@define-color clock #191724;

* {
	border: none;
	font-family: 'Exo 2 Nerd Font';
	font-size: 13px;
  font-weight: 700;
	margin: 0px;
	padding: 0px;
	border-radius: 0;
}

window#waybar {
	background-color: @barcolor;
	color: @main_fg;
	transition-property: background-color;
	transition-duration: .5s;
}

#workspaces > button:last-child {
	padding-right: 8px;
}
#workspaces > button:first-child {
	padding-left: 7px;
}

#workspaces button {
	padding: 0px 2px 0px 2px;
	margin: -2px 0px;
	background-color: @workspaces;
}

#workspaces button:hover {
	background-color: #393A56;
}

#workspaces button.focused {
	color: @main_fg;
}

#workspaces button.urgent {
	color: #ADCEB1;
}

/* #workspaces button:nth-child(1).focused label, */
/* #workspaces button:nth-child(2).focused label, */
/* #workspaces button:nth-child(3).focused label, */
/* #workspaces button:nth-child(4).focused label, */
/* #workspaces button:nth-child(5).focused label { */
/*   color: white; */
/* } */

#workspaces button#sway-workspace-1.persistent,
#workspaces button#sway-workspace-2.persistent,
#workspaces button#sway-workspace-3.persistent,
#workspaces button#sway-workspace-4.persistent,
#workspaces button#sway-workspace-5.persistent {
  color: #6e6a86;
}

#workspaces button.focused label {
  color: white;
}

#workspaces button#sway-workspace-1 {
  color: @color1;
}

#workspaces button#sway-workspace-2 {
  color: @color2;
}

#workspaces button#sway-workspace-3 {
  color: @color3;
}

#workspaces button#sway-workspace-4 {
  color: @color4;
}

#workspaces button#sway-workspace-5 {
  color: @color5;
}

tooltip {
	font-family: 'Exo 2';
	font-size: 25px;
	font-weight: 600;
	border: 2px solid @accent_fg;
	background-color: #302D41;
}

#custom-launcher,
#clock,
#battery,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#custom-artist,
#custom-title {
	background-color: #252734;
	margin: 0px;
	padding: 0px 9px 0px 9px;
}

/***** Separators  *****/
#custom-sep0,
#custom-sep1,
#custom-sep3,
#custom-sep4,
#custom-sep5,
#custom-sep6 {
	margin-bottom: -9px;
	margin-top: -5px;
	margin-right: -15px;
	font-size: 30px;
}

#custom-sep0 {
	color: @workspaces;
	background-color: @launcher;
}

#custom-sep1 {
	color: @barcolor;
	background-color: @workspaces;
}

#custom-sep3 {
	color: @volume;
	background-color: transparent;
}

#custom-sep4 {
	color: @network;
	background-color: @volume;
}

#custom-sep5 {
	color: @tray;
	background-color: @network;
}

#custom-sep6 {
	color: @clock;
	background-color: @tray;
}
/**************/

#clock {
	background-color: @clock;
}

#battery {
	background-color: @tray;
	color: @main_fg;
	padding-left: 4px;
}

#battery.charging,
#battery.plugged {
	color: @main_fg;
	background-color: @tray;
	padding-left: 4px;
}

@keyframes blink {
	to {
		background-color: @tray;
		color: @cpu;
	}
}

#battery.critical:not(.charging) {
	background-color: @tray;
	color: @main_fg;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	padding-left: 4px;
}

label:focus {
	background-color: #000000;
}

label:disabled,
button:disabled {
	all: unset;
	min-width: 0;
}

#cpu {
	background-color: transparent;
	color: @color1;
	margin-right: 10px;
}

#memory {
	background-color: transparent;
	color: @color2;
	margin-right: 10px;
}

#custom-launcher {
	color: @accent_fg;
	padding-right: 15px;
	padding-left: 10px;
	background-color: @launcher;
}

#temperature {
	background-color: transparent;
	color: @color3;
	margin-right: 10px;
}

#temperature.critical {
	background-color: transparent;
	color: @color3;
}

#backlight {
	background-color: transparent;
	color: @color4;
	margin-right: 10px;
}

#custom-weather {
	background-color: transparent;
	padding-right: 10px;
	color: @color5;
}

#tray {
	background-color: @tray;
	padding-left: 1px;
	padding-right: 7px;
	margin-top: -6px;
	margin-bottom: -3px;
}

#network {
	background-color: @network;
	padding-left: 4px;
	padding-right: 10px;
}

#network.disconnected {
	background-color: @network;
	margin: -10px 0px -10px 0px;
	padding-left: 4px;
	padding-right: 4px;
}

#pulseaudio {
	background-color: @volume;
	padding-left: 4px;
}

#pulseaudio.muted {
	background-color: @volume;
	color: @cpu;
}

#custom-artist {
  font-family: 'Exo 2';
  font-size: 13.5px;
  font-weight: 700;
	color: @accent_fg;
	background-color: @barcolor;
	margin-right: 0px;
	padding-right: 5px;
}

#custom-title {
  font-family: 'Exo 2';
	background-color: @barcolor;
  font-size: 13.5px;
  font-weight: 600;
	color: @main_fg;
	margin-left: 0px;
	padding-left: 0px;
}

