@define-color gh-base #1B1F23;
@define-color gh-overlay #2F363D;
@define-color gh-subtile #444D56;
@define-color gh-text #FAFBFC;
@define-color gh-white #FFFFFF;
@define-color gh-red #F98E99;
@define-color gh-pink #F9B3DD;
@define-color gh-purple #D1BCF9;
@define-color gh-blue #C8E1FF;
@define-color gh-green #BEF5CB;

/* Shades */
@define-color volume #586069;
@define-color bat #444D56;

* {
	border: none;
	font-family: 'SourceSans3VF','Symbols Nerd Font';
	font-size: 14px;
  font-weight: 600;
	margin: 0px;
	padding: 0px;
	border-radius: 0;
}

window#waybar {
	background-color: @gh-base;
	color: @gh-text;
	transition-property: background-color;
	transition-duration: .5s;
}

#workspaces > button:last-child {
	padding-right: 5px;
}
#workspaces > button:first-child {
	padding-left: 7px;
}

#workspaces button {
	padding: 0px 2px 0px 2px;
	margin: -2px 0px;
	background-color: @gh-overlay;
}

#workspaces button:hover label {
	color: #959DA5;
}

#workspaces button.focused {
	color: @gh-text;
}

#workspaces button.urgent {
	color: @gh-blue;
}

#workspaces button#sway-workspace-1.persistent,
#workspaces button#sway-workspace-2.persistent,
#workspaces button#sway-workspace-3.persistent,
#workspaces button#sway-workspace-4.persistent,
#workspaces button#sway-workspace-5.persistent {
  color: #586069;
}

#workspaces button.focused label {
  color: white;
}

#workspaces button#sway-workspace-1 {
  color: @gh-red;
}

#workspaces button#sway-workspace-2 {
  color: @gh-pink;
}

#workspaces button#sway-workspace-3 {
  color: @gh-purple;
}

#workspaces button#sway-workspace-4 {
  color: @gh-blue;
}

#workspaces button#sway-workspace-5 {
  color: @gh-green;
}

tooltip {
	border: 2px solid @gh-text;
	background-color: @gh-overlay;
}

/***** Separators  *****/
#custom-sep0,
#custom-sep1,
#custom-sep3,
#custom-sep4,
#custom-sep5,
#custom-sep6 {
	margin-top: -32px;
	margin-bottom: -36px;
	margin-right: -12px;
	font-size: 28px;
}

#custom-sep0 {
	color: @gh-overlay;
	background-color: transparent;
}
#custom-sep1 {
	color: @gh-base;
	background-color: @gh-overlay;
}

#custom-sep3 {
	color: @volume;
	background-color: transparent;
}

#custom-sep4 {
	color: @bat;
	background-color: @volume;
}

#custom-sep5 {
	color: @gh-overlay;
	background-color: @bat;
}

#custom-sep6 {
	color: @gh-base;
	background-color: @gh-overlay;
}
/**************/

#clock {
	background-color: @gh-base;
}

#battery {
	background-color: @bat;
	color: @gh-text;
	padding-left: 7px;
}

#battery.charging,
#battery.plugged {
	color: @gh-text;
	background-color: @bat;
	padding-left: 7px;
}

@keyframes blink {
	to {
		color: @gh-red;
	}
}

#battery.critical:not(.charging) {
	background-color: @bat;
	color: @gh-text;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:disabled,
button:disabled {
	all: unset;
	min-width: 0;
}

#cpu,
#memory,
#temperature {
	margin-right: 12px;
}

#cpu,
#memory,
#temperature,
#backlight,
#custom-weather,
#custom-artist,
#custom-title {
  background-color: transparent;
}

#cpu {
	color: @gh-red;
}

#memory {
	color: @gh-pink;
}

#custom-launcher {
	color: @gh-text;
	background-color: transparent;
}

#temperature {
	color: @gh-purple;
}

#temperature.critical {
	color: @gh-purple;
}

#backlight {
	color: @gh-blue;
	margin-right: 10px;
}

#custom-weather {
	color: @gh-green;
  margin-top: -5px;
  margin-bottom: -5px;
}

#pulseaudio,
#battery,
#network,
#clock {
	padding-left: 7px;
	padding-right: 7px;
}

#custom-launcher {
  padding-left: 10px;
  padding-right: 10px;
}

#tray,
#network {
	background-color: @gh-overlay;
}

#tray {
	padding-right: 7px;
	margin-top: -14px;
	margin-bottom: -14px;
}

#network,
#battery,
#pulseaudio,
#custom-launcher {
  margin-top: -5px;
  margin-bottom: -5px;
}

#network.disconnected {
  color: #656F7A;
	margin: -10px 0px -10px 0px;
}

#pulseaudio {
	background-color: @volume;
  color: @gh-text;
}

#pulseaudio.muted {
	color: #8F9BAA;
}

#custom-artist {
  font-size: 15px;
	color: white;
	margin: 0px;
	padding-right: 4px;
  padding-left: 5px;
}

#custom-title {
  color: #C1BED6;
  font-size: 15px;
	margin: 0px;
}

