@define-color	focusColor #84C8C9;
@define-color	poweroffColor #EC5757;


* {
	background-image: none;
}

window {
	background-color: rgba(12, 13, 19, 0.98);
}

button {
	margin: 200px 5px 320px 5px;
	font-family: "FiraCode Nerd Font";
	background-color: #151515;
	color: #FFFFFF;
	border-style: solid;
	font-size: 100px;
	border-width: 2px;
}

#lock {
	padding: 5px 15px 5px 10px;
}

#suspend, #reboot {
	padding: 5px 20px 5px 5px;
}

#logout {
	padding: 5px 15px 5px 5px;
}

#shutdown {
	padding: 5px 20px 5px 10px;
}

button:focus, button:hover {
	outline-style: none;
}

button:focus#reboot, button:hover#reboot, 
button:focus#suspend, button:hover#suspend, 
button:focus#lock, button:hover#lock,
button:focus#logout, button:hover#logout { 
  box-shadow:  0px 10px @focusColor; 
	outline-style: solid;
	outline-width: 3px;
	outline-color: @focusColor;
	color: @focusColor;
}

button:focus#shutdown, button:active#shutdown, button:hover#shutdown {
  box-shadow:  0px 10px @poweroffColor;
	outline-style: none;
	outline-style: solid;
	outline-width: 3px;
	outline-color: @poweroffColor;
	color: @poweroffColor; 
} 
