* {
	background-image: none;
}

window {
	background-color: rgba(12, 13, 19, 0.98);
}

button {
	margin: 200 5 320 5;
	font-family: "FiraCode Nerd Font";
	color: #FFFFFF;
	border-style: solid;
	font-size: 100px;
	border-width: 2px;
}

#lock {
	background-color: #4895ef;
	padding: 5 15 5 10;
}

#suspend {
	background-color: #4361ee;
	padding: 5 20 5 5;
}

#logout {
	background-color: #3f37c9;
	padding: 5 15 5 5;
}

#reboot {
	background-color: #3a0ca3;
	padding: 5 20 5 5;
}

#shutdown {
	background-color: #480ca8;
	padding: 5 20 5 10;
}

button:focus, button:hover {
	outline-style: none;
}

button:focus#suspend, button:active#suspend, button:hover#suspend, 
button:focus#lock, button:active#lock, button:hover#lock, 
button:focus#logout, button:active#logout, button:hover#logout, 
button:focus#reboot, button:active#reboot, button:hover#reboot {
  box-shadow:  0 10 rgba(70, 243, 29, 1);
	outline-style: none;
}


button:focus#shutdown, button:active#shutdown, button:hover#shutdown {
  box-shadow:  0 10 rgba(240, 29, 29, 1);
	outline-style: none;
} 
